# Ignorar ambiente virtual
venv/

# Ignorar cache do Python
__pycache__/
*.pyc


# Ignorar notebooks específicos
tests.ipynb
app/lstm_example.py
app/lstm sem scaler.ipynb
app/prever_api.py
data/json_entrada.json
api/index.py
app/lstm_versao_normalizada.ipynb
app/test.py
app/test.ipynb
app/data/get_data.ipynb
app/templates/
app/utils/
app/.dockerignore
app/Dockerfile
app/dados/
app/data/extraidos/applicants.json
app/data/extraidos/prospects.json
app/data/extraidos/vagas.json
app/data/extraidos/dados.db

