# Ignorar ambiente virtual
venv/
.env

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar testes
app/tests

# Ignorar notebooks específicos

# Ainda incompletos
app/templates/

app/.dockerignore
app/Dockerfile

# Dados que excedem limite github
app/dados/
app/data/extraidos/applicants.json
app/data/extraidos/prospects.json
app/data/extraidos/vagas.json
app/data/extraidos/dados.db

